<div class="row">
  <div class="col-md-6 form-group">
    <input  placeholder="First Name" class="form-control" [(ngModel)]="employeeService.currentEmployee.firstName">
  </div>
  <div class="col-md-6 form-group">
    <input type="text" placeholder="Last Name" class="form-control" [(ngModel)]="employeeService.currentEmployee.lastName">
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12 form-group">
    <input type="text" placeholder="Designation" class="form-control" [(ngModel)]="employeeService.currentEmployee.designation">
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6 form-group">
    <input type="text" placeholder="contact" class="form-control" [(ngModel)]="employeeService.currentEmployee.contact">
  </div>
  <div class="col-md-6 form-group">
    <input type="text" placeholder="address" class="form-control" [(ngModel)]="employeeService.currentEmployee.address">
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-8">
    <button class="btn btn-success w-100" (click)="createAndUpdate(employeeService.currentEmployee)">Save</button>
  </div>
  <div class="col-md-4">
    <button class="btn btn-primary  w-100" (click)="clear()">Clear</button>
  </div>
  
</div>
